*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#0f172a;
color:white;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
background:#020617;
}

#searchBox{
padding:8px 12px;
border-radius:5px;
border:none;
outline:none;
}


.logo{
font-size:22px;
font-weight:bold;
color:#38bdf8;
}

nav a{
margin-left:20px;
text-decoration:none;
color:white;
}

.hero{
text-align:center;
padding:120px 20px;
background:linear-gradient(135deg,#1e293b,#020617);
}

.hero h1{
font-size:45px;
margin-bottom:10px;
}

.hero button{
margin-top:20px;
padding:12px 25px;
border:none;
background:#38bdf8;
color:black;
cursor:pointer;
border-radius:5px;
}

.products{
padding:60px;
text-align:center;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:30px;
margin-top:40px;
}

.card{
background:#1e293b;
padding:20px;
border-radius:10px;
transition:0.3s;
}

.card:hover{
transform:scale(1.05);
}

.card img{
width:100%;
border-radius:8px;
}

.card h3{
margin-top:10px;
}

.card button{
margin-top:10px;
padding:8px 15px;
background:#38bdf8;
border:none;
cursor:pointer;
border-radius:4px;
}

footer{
text-align:center;
padding:30px;
background:#020617;
margin-top:50px;
}